repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]

      - id: isort
        name: isort
        entry: isort
        language: system
        args: ["--profile", "black"]
        types: [python]

      - id: pytest
        name: pytest
        entry: pytest
        language: system
        args: ["tests/unittest"]
        types: [python]
        stages:
          - pre-push